In [23]:
import pandas as pd
import matplotlib.pyplot as plt
from shapely.geometry import Point
import geopandas as gpd
import folium
from folium.plugins import MarkerCluster
from folium.plugins import FastMarkerCluster
import re
from geopy.geocoders import Nominatim
%matplotlib inline

In [2]:
cop_df = pd.read_csv(r"C:\Users\jal32\Documents\NSS\Python\Projects\partners_in_care-rasberry-pi\Data\geocodes.csv")
#17341 rows, 3 col

In [3]:
march_df = pd.read_csv(r"C:\Users\jal32\Documents\NSS\Python\Projects\partners_in_care-rasberry-pi\Data\geocoded_march.csv")
#1640 rows, 3 col

In [18]:
cop_df['geometry'] = cop_df.apply(lambda x: Point((float(x.lng),
                                                   float(x.lat))),
                                  axis=1)
cop_df

,address,lat,lng,geometry
0,1022 SEYMOUR AVE,36.185726,-86.750575,POINT (-86.7505747 36.1857264)
1,1310 EASTLAND AVE,36.183276,-86.745370,POINT (-86.74536970000001 36.1832764)
2,617 S 5TH ST,36.165976,-86.760884,POINT (-86.76088399999999 36.1659756)
3,2409 EMMETT AVE,36.195349,-86.747668,POINT (-86.7476678 36.1953494)
4,2930 DICKERSON PIKE,36.223448,-86.761631,POINT (-86.7616312 36.2234482)
...,...,...,...,...
17336,2819 DICKERSON PIKE,36.219275,-86.761928,POINT (-86.761928 36.219275)
17337,3708 GALLATIN PIKE,36.213735,-86.730616,POINT (-86.7306157 36.2137354)
17338,S 14TH ST / FATHERLAND ST,36.173766,-86.746309,POINT (-86.7463092 36.1737656)
17339,599 GALLATIN AVE,36.182939,-86.748471,POINT (-86.7484712 36.1829386)
17340,401 WALTON LN,36.232596,-86.749382,POINT (-86.74938209999999 36.23259609999999)

In [5]:
march_df['geometry'] = march_df.apply(lambda x: Point((float(x.lng),
                                                       float(x.lat))),
                                      axis=1)

In [6]:
geo_df = pd.concat([cop_df, march_df])
#18981 rows, 4 columns

In [7]:
c_df = pd.read_excel (r"C:\Users\jal32\Documents\NSS\Python\Projects\partners_in_care-rasberry-pi\Data\Mental_Calls_by_Precinct_Plain_Text_Incident_Types_070121_022822.xlsx", sheet_name='C')
cmd1_df = pd.read_excel (r"C:\Users\jal32\Documents\NSS\Python\Projects\partners_in_care-rasberry-pi\Data\Mental_Calls_by_Precinct_Plain_Text_Incident_Types_070121_022822.xlsx", sheet_name='CMD1')
cmd2_df = pd.read_excel (r"C:\Users\jal32\Documents\NSS\Python\Projects\partners_in_care-rasberry-pi\Data\Mental_Calls_by_Precinct_Plain_Text_Incident_Types_070121_022822.xlsx", sheet_name='CMD2')
cw_df = pd.read_excel (r"C:\Users\jal32\Documents\NSS\Python\Projects\partners_in_care-rasberry-pi\Data\Mental_Calls_by_Precinct_Plain_Text_Incident_Types_070121_022822.xlsx", sheet_name='CW')
e_df = pd.read_excel (r"C:\Users\jal32\Documents\NSS\Python\Projects\partners_in_care-rasberry-pi\Data\Mental_Calls_by_Precinct_Plain_Text_Incident_Types_070121_022822.xlsx", sheet_name='E')
h_df = pd.read_excel (r"C:\Users\jal32\Documents\NSS\Python\Projects\partners_in_care-rasberry-pi\Data\Mental_Calls_by_Precinct_Plain_Text_Incident_Types_070121_022822.xlsx", sheet_name='H')
m_df = pd.read_excel (r"C:\Users\jal32\Documents\NSS\Python\Projects\partners_in_care-rasberry-pi\Data\Mental_Calls_by_Precinct_Plain_Text_Incident_Types_070121_022822.xlsx", sheet_name='M')
mt_df = pd.read_excel (r"C:\Users\jal32\Documents\NSS\Python\Projects\partners_in_care-rasberry-pi\Data\Mental_Calls_by_Precinct_Plain_Text_Incident_Types_070121_022822.xlsx", sheet_name='MT')
n_df = pd.read_excel (r"C:\Users\jal32\Documents\NSS\Python\Projects\partners_in_care-rasberry-pi\Data\Mental_Calls_by_Precinct_Plain_Text_Incident_Types_070121_022822.xlsx", sheet_name='N')
s_df = pd.read_excel (r"C:\Users\jal32\Documents\NSS\Python\Projects\partners_in_care-rasberry-pi\Data\Mental_Calls_by_Precinct_Plain_Text_Incident_Types_070121_022822.xlsx", sheet_name='S')
w_df = pd.read_excel (r"C:\Users\jal32\Documents\NSS\Python\Projects\partners_in_care-rasberry-pi\Data\Mental_Calls_by_Precinct_Plain_Text_Incident_Types_070121_022822.xlsx", sheet_name='W')
pcw_df = pd.read_excel (r"C:\Users\jal32\Documents\NSS\Python\Projects\partners_in_care-rasberry-pi\Data\Mental_Calls_by_Precinct_Plain_Text_Incident_Types_070121_022822.xlsx", sheet_name='PCW')

In [8]:
excel_df = pd.concat([c_df, cmd1_df, cmd2_df, cw_df, e_df, h_df, m_df, mt_df, n_df, s_df, w_df, pcw_df])

In [9]:
excel_df = excel_df.drop(columns=['Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 8', 'Unnamed: 9'])

In [10]:
excel_df = excel_df.dropna(thresh=2)
excel_df

,Precinct,Date,Created,Address,Incident Type,Priority
0,C,07-01-2021,01:57:16,639 LAFAYETTE ST,INTOXICATED PERSON,2
1,C,07-01-2021,03:02:52,920 BROADWAY,WELFARE CHECK,2
2,C,07-01-2021,05:44:47,110 4TH AVE S,DISORDERLY SUBJECT,2
3,C,07-01-2021,05:49:07,800 4TH AVE S,SUSPICIOUS PERSON,2
4,C,07-01-2021,08:01:06,1033 DEMONBREUN ST,TRESPASSER,2
...,...,...,...,...,...,...
3820,W,02-28-2022,22:47:59,311 SYLVAN PARK LN,WELFARE CHECK,2
0,PCW,08-08-2021,01:53:31,418 BROADWAY,ASSIST EMS,2M
2,PCW,09-12-2021,03:10:53,309 BROADWAY,ASSIST EMS,2M
4,PCW,10-20-2021,21:15:35,1167 KIMBERLY DR,MENTAL CONDITION,2M
5,PCW,10-22-2021,13:04:02,110 GALLATIN AVE,ASSIST EMS,2M

In [14]:
excel_df['date_time'] = excel_df['Date'].astype(str) + ' ' + excel_df['Created']

In [15]:
excel_df

,Precinct,Date,Created,Address,Incident Type,Priority,date_time
0,C,07-01-2021,01:57:16,639 LAFAYETTE ST,INTOXICATED PERSON,2,07-01-2021 01:57:16
1,C,07-01-2021,03:02:52,920 BROADWAY,WELFARE CHECK,2,07-01-2021 03:02:52
2,C,07-01-2021,05:44:47,110 4TH AVE S,DISORDERLY SUBJECT,2,07-01-2021 05:44:47
3,C,07-01-2021,05:49:07,800 4TH AVE S,SUSPICIOUS PERSON,2,07-01-2021 05:49:07
4,C,07-01-2021,08:01:06,1033 DEMONBREUN ST,TRESPASSER,2,07-01-2021 08:01:06
...,...,...,...,...,...,...,...
3820,W,02-28-2022,22:47:59,311 SYLVAN PARK LN,WELFARE CHECK,2,02-28-2022 22:47:59
0,PCW,08-08-2021,01:53:31,418 BROADWAY,ASSIST EMS,2M,08-08-2021 01:53:31
2,PCW,09-12-2021,03:10:53,309 BROADWAY,ASSIST EMS,2M,09-12-2021 03:10:53
4,PCW,10-20-2021,21:15:35,1167 KIMBERLY DR,MENTAL CONDITION,2M,10-20-2021 21:15:35
5,PCW,10-22-2021,13:04:02,110 GALLATIN AVE,ASSIST EMS,2M,10-22-2021 13:04:02

In [16]:
excel_df['date_time']= pd.to_datetime(excel_df['date_time'])

In [17]:
excel_df

,Precinct,Date,Created,Address,Incident Type,Priority,date_time
0,C,07-01-2021,01:57:16,639 LAFAYETTE ST,INTOXICATED PERSON,2,2021-07-01 01:57:16
1,C,07-01-2021,03:02:52,920 BROADWAY,WELFARE CHECK,2,2021-07-01 03:02:52
2,C,07-01-2021,05:44:47,110 4TH AVE S,DISORDERLY SUBJECT,2,2021-07-01 05:44:47
3,C,07-01-2021,05:49:07,800 4TH AVE S,SUSPICIOUS PERSON,2,2021-07-01 05:49:07
4,C,07-01-2021,08:01:06,1033 DEMONBREUN ST,TRESPASSER,2,2021-07-01 08:01:06
...,...,...,...,...,...,...,...
3820,W,02-28-2022,22:47:59,311 SYLVAN PARK LN,WELFARE CHECK,2,2022-02-28 22:47:59
0,PCW,08-08-2021,01:53:31,418 BROADWAY,ASSIST EMS,2M,2021-08-08 01:53:31
2,PCW,09-12-2021,03:10:53,309 BROADWAY,ASSIST EMS,2M,2021-09-12 03:10:53
4,PCW,10-20-2021,21:15:35,1167 KIMBERLY DR,MENTAL CONDITION,2M,2021-10-20 21:15:35
5,PCW,10-22-2021,13:04:02,110 GALLATIN AVE,ASSIST EMS,2M,2021-10-22 13:04:02

In [28]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="example app")
geolocator.geocode("639 LAFAYETTE ST, Nashville, TN")

Location(639, Lafayette Street, Nashville-Davidson, Davidson County, Tennessee, 37210, United States, (36.14797423325931, -86.7596398191425, 0.0))